#mor {
  color: rgb(139, 19, 25);
}

#aft {
  color: #e6d2c8;
}

#eve {
  color: hsl(120, 100%, 80%);
}

#nit {
  background-color: rgb(20, 100, 180);
}

#wish {
  background-color: rgba(200, 220, 240, 0.9);
}

body {
  background-color: indigo;
}
