h1 {
  border: 2px solid greenyellow;
  width: 170px;
}

p {
  /* border: 2px solid yellowgreen; */
  width: 300px;
  height: 150px;
  overflow: scroll;
  border-style: double;
  border: 10px 3px 2px 1px;
  border-top-width: 10px;
  border-color: yellowgreen;
  background-color: lavender;
  padding: 10px;
  margin: 10px auto 10px auto;
}

li {
  display: inline;
}

.no1 {
  display: none;
}

.no2 {
  visibility: hidden;
}

.actor {
  border: 2px solid blueviolet;
  /* width: 1200px; */
  max-width: 1200px;
  min-width: 300px;
}
