ul {
  /* list-style-type: none; */
  /* list-style-type: circle; */
  /* list-style-type: disc; */
  /* list-style-type: square; */
  /* list-style-image: url(/media/icon2.jpg); */
  /* list-style-position: outside; */
  /* list-style-position: inside; */
  list-style: inside circle;
  /* list-style: outside circle; */
}

ol {
  /* list-style-type: decimal; */
  /* list-style-type: lower-alpha; */
  /* list-style-type: upper-alpha; */
  list-style-type: lower-roman;
}

li {
  margin: 10px;
}
