/* Type Selector */

h2,
h3 {
  color: orange !important;
}

h1 {
  color: blue;
}

/* Universol Selector */

* {
  color: green;
}

/* Id Selector */

#soft {
  color: yellow;
}

/* Class Selector */

.bluetext {
  color: blue;
}

/* Child Selector */

div > p {
  color: black;
}

/* Descendant Selector */

div a {
  color: brown;
}

/* Sibling Selector */

h1 ~ h4 {
  color: red;
}

/* Adjacent Sibiling Selector */

h1 + h2 {
  color: pink;
}
